@import "tailwindcss";

@theme {
  --color-surface-variant: #e1e2e4;
  --color-outline: #717978;
  --color-secondary: #7d5800;
  --color-tertiary-container: #362b16;
  --color-on-surface-variant: #404848;
  --color-on-secondary: #ffffff;
  --color-on-secondary-container: #755100;
  --color-primary-container: #013334;
  --color-on-error-container: #93000a;
  --color-surface: #f8f9fb;
  --color-background: #f8f9fb;
  --color-secondary-fixed-dim: #f6bd54;
  --color-surface-container-low: #f3f4f6;
  --color-secondary-container: #ffc55b;
  --color-on-background: #191c1e;
  --color-on-primary-fixed-variant: #234d4e;
  --color-inverse-primary: #a3cfcf;
  --color-inverse-on-surface: #f0f1f3;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-highest: #e1e2e4;
  --color-surface-container-high: #e7e8ea;
  --color-surface-dim: #d9dadc;
  --color-tertiary: #201705;
  --color-surface-bright: #f8f9fb;
  --color-on-tertiary-fixed: #241a07;
  --color-primary: #001c1d;
  --color-outline-variant: #c0c8c8;
  --color-error: #ba1a1a;
  --color-on-tertiary-fixed-variant: #52452e;
  --color-on-primary: #ffffff;
  --color-surface-tint: #3c6566;
  --color-on-primary-container: #729c9d;
  --color-on-tertiary-container: #a39276;
  --color-error-container: #ffdad6;
  --color-secondary-fixed: #ffdea9;
  --color-on-tertiary: #ffffff;
  --color-tertiary-fixed: #f4e0c1;
  --color-primary-fixed: #bfebeb;
  --color-on-secondary-fixed: #271900;
  --color-on-error: #ffffff;
  --color-surface-container: #edeef0;
  --color-on-primary-fixed: #002020;
  --color-on-surface: #191c1e;
  --color-on-secondary-fixed-variant: #5f4100;
  --color-primary-fixed-dim: #a3cfcf;
  --color-inverse-surface: #2e3132;
  --color-tertiary-fixed-dim: #d7c4a6;

  --font-noto-serif: "Noto Serif", serif;
  --font-manrope: "Manrope", sans-serif;
  --font-headline: "Noto Serif", serif;
  --font-body: "Manrope", sans-serif;
  --font-label: "Manrope", sans-serif;
}

:root {
  font-family: 'Manrope', sans-serif;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.editorial-shadow {
    box-shadow: 0 8px 40px rgba(1, 51, 52, 0.06);
}

.ghost-border {
    border: 1px solid rgba(192, 200, 200, 0.15);
}

.asymmetric-clip {
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.glass-header {
    background: rgba(1, 51, 52, 0.95);
    backdrop-filter: blur(12px);
}
